<h1 [hidden] = !allTime>Single Player (All Time) </h1>
<h1 [hidden] = allTime>Single Player (Season) </h1>

<ul class="dropdown" [hidden] = !allTime>
    <li>
      <mat-form-field>
        <mat-select [(value)]="selectedPlayerAll" (selectionChange)="callBackAllSeasonByPlayer(selectedPlayerAll)" placeholder="Select Player">
          <mat-option *ngFor="let player_ of playersDrop_" [value]="player_"> {{player_.displayName}} </mat-option>
        </mat-select>
      </mat-form-field>
    </li>
  </ul>


<ul class="dropdown" [hidden] = allTime>
  <li>
    <mat-form-field>
      <mat-select [(value)]="selectedPlayer" (selectionChange)="callBackSeasonByPlayer(selectedPlayer)" placeholder="Select Player">
        <mat-option *ngFor="let player of playersDrop" [value]="player"> {{player.displayName}} </mat-option>
      </mat-select>
    </mat-form-field>
  </li>
</ul>

<ul class="dropdownGame" [hidden] = allTime>
  <li>
    <mat-form-field>
      <mat-select [(value)]="selected" (selectionChange)="callBackGameBySeasonPlayer(selected.id)" placeholder="Select Season">
        <mat-option *ngFor="let season of seasonsDrop" [value]="season">{{season.season}} {{season.year}}</mat-option>
      </mat-select>
    </mat-form-field>
  </li>
</ul>

<form  [hidden] = allTime>
  <input type="radio" (click)="isOn= false; checked = true" name="chart" checked="true" id="battingButton1" > Batting
  <input type="radio" (click)="isOn= true; checked = true" name="chart" id="pitchingButton1"> Pitching
</form> 

<form  [hidden] = !allTime>
    <input type="radio" (click)="isOn_= false; checked = true" name="chart" checked="true" id="battingButton2" > Batting
    <input type="radio" (click)="isOn_= true; checked = true" name="chart" id="pitchingButton2"> Pitching
  </form> 

<form  >
  <input type="radio" (click)="allTime= true; checked = true; currPlayer = null" name="chart" id="allTimeButton" > All Time
  <input type="radio" (click)="allTime= false; checked = true; currPlayer = null" name="chart" id="seasonButton" checked="true" > Season
</form> 

<ul [hidden] = "!currPlayer" class="playerDesc"><li>
  <strong>{{currPlayer?.displayName}}</strong> <br> 
  <strong>Jersey Number: </strong>  {{currPlayer?.jerseyNumber}} <br>
  <strong>Position: </strong>  {{currPlayer?.positions}}  <br>
  <strong>Throw Side: </strong>  {{currPlayer?.throwSide}} <br>
  <strong>Bat Side: </strong>  {{currPlayer?.batSide}} <br>
       
</li></ul>

<div [hidden] = allTime>
<ul [hidden]="isOn" class="stats">
    <li>
  
      <table mat-table #battingTable #battingTableSort="matSort" matSortDisableClear="true" matSortStart="desc" [dataSource]="battingStats" matSort class="mat-elevation-z8">
        
        <ng-container matColumnDef="gameString">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Game </th>
          <td mat-cell *matCellDef="let element">{{element.gameString}}</td>
          <td mat-footer-cell *matFooterCellDef> Team </td>
        </ng-container>
  
        <!-- <ng-container matColumnDef="numGames">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> G </th>
          <td mat-cell *matCellDef="let element"> {{element.numGames}} </td>
          <td mat-footer-cell *matFooterCellDef> - </td>
        </ng-container> -->
  
        <ng-container matColumnDef="atBats">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> AB </th>
          <td mat-cell *matCellDef="let element"> {{element.atBats}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.atBats}} </td>
        </ng-container>
  
        <ng-container matColumnDef="runs">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> R </th>
          <td mat-cell *matCellDef="let element"> {{element.runs}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.runs}} </td>
        </ng-container>
  
        <ng-container matColumnDef="singles">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> H </th>
          <td mat-cell *matCellDef="let element"> {{element.singles}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.singles}} </td>
        </ng-container>
  
        <ng-container matColumnDef="doubles">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 2B </th>
          <td mat-cell *matCellDef="let element"> {{element.doubles}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.doubles}} </td>
        </ng-container>
  
        <ng-container matColumnDef="triples">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 3B </th>
          <td mat-cell *matCellDef="let element"> {{element.triples}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.triples}} </td>
        </ng-container>
  
        <ng-container matColumnDef="homeRuns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> HR </th>
          <td mat-cell *matCellDef="let element"> {{element.homeRuns}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.homeRuns}} </td>
        </ng-container>
  
        <ng-container matColumnDef="rbis">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> RBI </th>
          <td mat-cell *matCellDef="let element"> {{element.rbis}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.rbis}} </td>
        </ng-container>
  
        <ng-container matColumnDef="walks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> BB </th>
          <td mat-cell *matCellDef="let element"> {{element.walks}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.walks}} </td>
        </ng-container>
  
        <ng-container matColumnDef="hitByPitch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> HBP </th>
          <td mat-cell *matCellDef="let element"> {{element.hitByPitch}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.hitByPitch}} </td>
        </ng-container>
  
        <ng-container matColumnDef="sacrifices">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SAC </th>
          <td mat-cell *matCellDef="let element"> {{element.sacrifices}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.sacrifices}} </td>
        </ng-container>
  
        <ng-container matColumnDef="strikeOuts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> K </th>
          <td mat-cell *matCellDef="let element"> {{element.strikeOuts}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.strikeOuts}} </td>
        </ng-container>
  
        <ng-container matColumnDef="stolenBases">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SB </th>
          <td mat-cell *matCellDef="let element"> {{element.stolenBases}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.stolenBases}} </td>
        </ng-container>
  
        <ng-container matColumnDef="passedBalls">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PB </th>
          <td mat-cell *matCellDef="let element"> {{element.passedBalls}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.passedBalls}} </td>
        </ng-container>
  
        <ng-container matColumnDef="caughtStealing">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CS </th>
          <td mat-cell *matCellDef="let element"> {{element.caughtStealing}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.caughtStealing}} </td>
        </ng-container>
  
        <ng-container matColumnDef="battingAverage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> AVG </th>
          <td mat-cell *matCellDef="let element"> {{element.battingAverage}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.battingAverage}} </td>
        </ng-container>
  
        <ng-container matColumnDef="onBasePercentage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> OBP </th>
          <td mat-cell *matCellDef="let element"> {{element.onBasePercentage}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.onBasePercentage}} </td>
        </ng-container>
  
        <ng-container matColumnDef="sluggingAverage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SLG </th>
          <td mat-cell *matCellDef="let element"> {{element.sluggingAverage}} <td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonBat?.sluggingAverage}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="careerBattingColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: careerBattingColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="careerBattingColumns"></tr>
  
      </table>
    </li>
  </ul>
  
  <ul [hidden]="!isOn">
    <li>
      <table mat-table #pitchingTable #pitchingTableSort="matSort" matSortDisableClear="true" matSortStart="desc" [dataSource]="pitchingStats" matSort class="mat-elevation-z8">
  
  
          <ng-container matColumnDef="gameString">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Game </th>
              <td mat-cell *matCellDef="let element">{{element.gameString}}</td>
              <td mat-footer-cell *matFooterCellDef> Team </td>
          </ng-container>
  
        <!-- <ng-container matColumnDef="numGames">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> G </th>
          <td mat-cell *matCellDef="let element"> {{element.numGames}} </td>
          <td mat-footer-cell *matFooterCellDef> - </td>
        </ng-container>
   -->
        <ng-container matColumnDef="wins">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> W </th>
          <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.wins}} </td>
        </ng-container>
  
        <ng-container matColumnDef="losses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> L </th>
          <td mat-cell *matCellDef="let element"> {{element.losses}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.losses}} </td>
        </ng-container>
  
        <ng-container matColumnDef="ties">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> T </th>
          <td mat-cell *matCellDef="let element"> {{element.ties}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.ties}} </td>
        </ng-container>
  
        <ng-container matColumnDef="saves">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> S </th>
          <td mat-cell *matCellDef="let element"> {{element.saves}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.saves}} </td>
        </ng-container>
  
        <ng-container matColumnDef="inningsPitched">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IP </th>
          <td mat-cell *matCellDef="let element"> {{element.inningsPitched}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.inningsPitched}} </td>
        </ng-container>
  
        <ng-container matColumnDef="earnedRuns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ER </th>
          <td mat-cell *matCellDef="let element"> {{element.earnedRuns}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.earnedRuns}} </td>
        </ng-container>
  
        <ng-container matColumnDef="totalRuns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> R </th>
          <td mat-cell *matCellDef="let element"> {{element.totalRuns}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.totalRuns}} </td>
        </ng-container>
  
        <ng-container matColumnDef="strikeouts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> K </th>
          <td mat-cell *matCellDef="let element"> {{element.strikeouts}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.strikeouts}} </td>
        </ng-container>
  
        <ng-container matColumnDef="walks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> BB </th>
          <td mat-cell *matCellDef="let element"> {{element.walks}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.walks}} </td>
        </ng-container>
  
        <ng-container matColumnDef="hitByPitch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> HBP </th>
          <td mat-cell *matCellDef="let element"> {{element.hitByPitch}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.hitByPitch}} </td>
        </ng-container>
  
        <ng-container matColumnDef="hits">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> H </th>
          <td mat-cell *matCellDef="let element"> {{element.hits}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.hits}} </td>
        </ng-container>
  
        <ng-container matColumnDef="wildPitches">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> WP </th>
          <td mat-cell *matCellDef="let element"> {{element.wildPitches}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.wildPitches}} </td>
        </ng-container>
  
        <ng-container matColumnDef="stolenBases">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SB </th>
          <td mat-cell *matCellDef="let element"> {{element.stolenBases}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.stolenBases}} </td>
        </ng-container>
  
        <ng-container matColumnDef="pickoffs">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PO </th>
          <td mat-cell *matCellDef="let element"> {{element.pickoffs}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.pickoffs}} </td>
        </ng-container>
  
        <ng-container matColumnDef="earnedRunAverage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ERA </th>
          <td mat-cell *matCellDef="let element"> {{element.earnedRunAverage}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.earnedRunAverage}} </td>
        </ng-container>
  
        <ng-container matColumnDef="walksAndHitsPerInning">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> WHIP </th>
          <td mat-cell *matCellDef="let element"> {{element.walksAndHitsPerInning}} </td>
          <td mat-footer-cell *matFooterCellDef> {{playerSeasonPitch?.walksAndHitsPerInning}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="careerPitchingColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: careerPitchingColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="careerPitchingColumns"></tr>
      </table>
    </li>
  </ul>
</div>


<div [hidden] = !allTime>
    <ul [hidden]="isOn_" class="stats">
        <li>
      
          <table mat-table #battingTable_ #battingTableSort_="matSort" matSortDisableClear="true" matSortStart="desc" [dataSource]="battingStats_" matSort class="mat-elevation-z8">
            
            <ng-container matColumnDef="seasonDisplayName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Season </th>
              <td mat-cell *matCellDef="let element">{{element.seasonDisplayName}}</td>
              <td mat-footer-cell *matFooterCellDef> Team </td>
            </ng-container>
      
            <!-- <ng-container matColumnDef="numGames">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> G </th>
              <td mat-cell *matCellDef="let element"> {{element.numGames}} </td>
              <td mat-footer-cell *matFooterCellDef> - </td>
            </ng-container> -->
      
            <ng-container matColumnDef="atBats">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> AB </th>
              <td mat-cell *matCellDef="let element"> {{element.atBats}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.atBats}} </td>
            </ng-container>
      
            <ng-container matColumnDef="runs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> R </th>
              <td mat-cell *matCellDef="let element"> {{element.runs}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.runs}} </td>
            </ng-container>
      
            <ng-container matColumnDef="singles">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> H </th>
              <td mat-cell *matCellDef="let element"> {{element.singles}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.singles}} </td>
            </ng-container>
      
            <ng-container matColumnDef="doubles">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> 2B </th>
              <td mat-cell *matCellDef="let element"> {{element.doubles}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.doubles}} </td>
            </ng-container>
      
            <ng-container matColumnDef="triples">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> 3B </th>
              <td mat-cell *matCellDef="let element"> {{element.triples}} <td>
                  <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.triples}} </td>
            </ng-container>
      
            <ng-container matColumnDef="homeRuns">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> HR </th>
              <td mat-cell *matCellDef="let element"> {{element.homeRuns}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.homeRuns}} </td>
            </ng-container>
      
            <ng-container matColumnDef="rbis">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> RBI </th>
              <td mat-cell *matCellDef="let element"> {{element.rbis}} <td>
                  <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.rbis}} </td>
            </ng-container>
      
            <ng-container matColumnDef="walks">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> BB </th>
              <td mat-cell *matCellDef="let element"> {{element.walks}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.walks}} </td>
            </ng-container>
      
            <ng-container matColumnDef="hitByPitch">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> HBP </th>
              <td mat-cell *matCellDef="let element"> {{element.hitByPitch}} <td>
                  <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.hitByPitch}} </td>
            </ng-container>
      
            <ng-container matColumnDef="sacrifices">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SAC </th>
              <td mat-cell *matCellDef="let element"> {{element.sacrifices}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.sacrifices}} </td>
            </ng-container>
      
            <ng-container matColumnDef="strikeOuts">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> K </th>
              <td mat-cell *matCellDef="let element"> {{element.strikeOuts}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.strikeOuts}} </td>
            </ng-container>
      
            <ng-container matColumnDef="stolenBases">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SB </th>
              <td mat-cell *matCellDef="let element"> {{element.stolenBases}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.stolenBases}} </td>
            </ng-container>
      
            <ng-container matColumnDef="passedBalls">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PB </th>
              <td mat-cell *matCellDef="let element"> {{element.passedBalls}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.passedBalls}} </td>
            </ng-container>
      
            <ng-container matColumnDef="caughtStealing">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CS </th>
              <td mat-cell *matCellDef="let element"> {{element.caughtStealing}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.caughtStealing}} </td>
            </ng-container>
      
            <ng-container matColumnDef="battingAverage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> AVG </th>
              <td mat-cell *matCellDef="let element"> {{element.battingAverage}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.battingAverage}} </td>
            </ng-container>
      
            <ng-container matColumnDef="onBasePercentage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> OBP </th>
              <td mat-cell *matCellDef="let element"> {{element.onBasePercentage}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.onBasePercentage}} </td>
            </ng-container>
      
            <ng-container matColumnDef="sluggingAverage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SLG </th>
              <td mat-cell *matCellDef="let element"> {{element.sluggingAverage}} <td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllBat?.sluggingAverage}} </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="seasonBattingColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: seasonBattingColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="seasonBattingColumns"></tr>
      
          </table>
        </li>
      </ul>
      
      <ul [hidden]="!isOn_">
        <li>
          <table mat-table #pitchingTable_ #pitchingTableSort_="matSort" matSortDisableClear="true" matSortStart="desc" [dataSource]="pitchingStats_" matSort class="mat-elevation-z8">
      
      
              <ng-container matColumnDef="seasonDisplayName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Season </th>
                  <td mat-cell *matCellDef="let element">{{element.seasonDisplayName}}</td>
                  <td mat-footer-cell *matFooterCellDef> Team </td>
              </ng-container>
      
            <!-- <ng-container matColumnDef="numGames">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> G </th>
              <td mat-cell *matCellDef="let element"> {{element.numGames}} </td>
              <td mat-footer-cell *matFooterCellDef> - </td>
            </ng-container>
       -->
            <ng-container matColumnDef="wins">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> W </th>
              <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.wins}} </td>
            </ng-container>
      
            <ng-container matColumnDef="losses">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> L </th>
              <td mat-cell *matCellDef="let element"> {{element.losses}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.losses}} </td>
            </ng-container>
      
            <ng-container matColumnDef="ties">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> T </th>
              <td mat-cell *matCellDef="let element"> {{element.ties}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.ties}} </td>
            </ng-container>
      
            <ng-container matColumnDef="saves">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> S </th>
              <td mat-cell *matCellDef="let element"> {{element.saves}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.saves}} </td>
            </ng-container>
      
            <ng-container matColumnDef="inningsPitched">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> IP </th>
              <td mat-cell *matCellDef="let element"> {{element.inningsPitched}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.inningsPitched}} </td>
            </ng-container>
      
            <ng-container matColumnDef="earnedRuns">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ER </th>
              <td mat-cell *matCellDef="let element"> {{element.earnedRuns}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.earnedRuns}} </td>
            </ng-container>
      
            <ng-container matColumnDef="totalRuns">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> R </th>
              <td mat-cell *matCellDef="let element"> {{element.totalRuns}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.totalRuns}} </td>
            </ng-container>
      
            <ng-container matColumnDef="strikeouts">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> K </th>
              <td mat-cell *matCellDef="let element"> {{element.strikeouts}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.strikeouts}} </td>
            </ng-container>
      
            <ng-container matColumnDef="walks">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> BB </th>
              <td mat-cell *matCellDef="let element"> {{element.walks}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.walks}} </td>
            </ng-container>
      
            <ng-container matColumnDef="hitByPitch">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> HBP </th>
              <td mat-cell *matCellDef="let element"> {{element.hitByPitch}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.hitByPitch}} </td>
            </ng-container>
      
            <ng-container matColumnDef="hits">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> H </th>
              <td mat-cell *matCellDef="let element"> {{element.hits}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.hits}} </td>
            </ng-container>
      
            <ng-container matColumnDef="wildPitches">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> WP </th>
              <td mat-cell *matCellDef="let element"> {{element.wildPitches}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.wildPitches}} </td>
            </ng-container>
      
            <ng-container matColumnDef="stolenBases">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SB </th>
              <td mat-cell *matCellDef="let element"> {{element.stolenBases}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.stolenBases}} </td>
            </ng-container>
      
            <ng-container matColumnDef="pickoffs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PO </th>
              <td mat-cell *matCellDef="let element"> {{element.pickoffs}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.pickoffs}} </td>
            </ng-container>
      
            <ng-container matColumnDef="earnedRunAverage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ERA </th>
              <td mat-cell *matCellDef="let element"> {{element.earnedRunAverage}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.earnedRunAverage}} </td>
            </ng-container>
      
            <ng-container matColumnDef="walksAndHitsPerInning">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> WHIP </th>
              <td mat-cell *matCellDef="let element"> {{element.walksAndHitsPerInning}} </td>
              <td mat-footer-cell *matFooterCellDef> {{playerAllPitch?.walksAndHitsPerInning}} </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="seasonPitchingColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: seasonPitchingColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="seasonPitchingColumns"></tr>
          </table>
        </li>
      </ul>

</div>
