
ul{
    position: absolute;
    top: 50%;
  }
  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .dropdown{
    top: 30%;
  }
  
  .dropdownGame{
    top: 30%;
    left:35%;
  }

  .gameInfo{
    top: 30%;
    left:70%;
  }

  .stats{
    width:80%;
  }
  
  .selected{
    left:45%;
    top:34%;
  }
  
  
  .low{
    top:100%;
  }