<div class="container chart">
  <h1>Create New Game</h1>
  <form [formGroup]="gameForm" (ngSubmit)="onSubmit(gameForm.value)">

    <div class="form-group"> 
    <mat-form-field>
      <mat-select [(value)]="selSeason" (selectionChange)="selectedSeason(selSeason.id)" placeholder="Season Select">
        <mat-option *ngFor="let season of seasons" [value]="season">{{season.season}} {{season.year}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <div class="form-group">
      <label for="name">Date</label>
      <input type="date" class="form-control" name="date" formControlName="date" required>
    </div>

    <div class="form-group">
      <label >Start Time HH:MM</label>
      <input type="time" class="form-control" id="opponent" formControlName="start" required>
    </div>

    <div class="form-group">
      <label >Opponent Score</label>
      <input type="text" class="form-control" id="opponent" formControlName="opponentScore" required>
    </div>

    <div class="form-group">
      <label >Team Score</label>
      <input type="text" class="form-control" id="teamScore" formControlName="teamScore" required>
    </div>

    <div class="form-group">
        <label >Opponent</label>
        <select class="form-control" id="opponentScore" formControlName="opponent" required>
          <option *ngFor="let team of teams" [value]="team">{{team.name}}</option>
        </select>
      </div>

    <div class="form-group">
      <label >Location</label>
      <input type="text" class="form-control" id="location" formControlName="location" required>
    </div>

    <div class="form-group">
      <label>Home</label>
      <input type="checkbox" class="form-control" id="home" formControlName="home" required>
    </div>

    <div class="form-group">
      <label >Playoff</label>
      <input type="checkbox" class="form-control" id="playoff" formControlName="playoff" required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

    <div [hidden]="successHidden" class="status"> Created Game</div> 
    <div [hidden]="failHidden" class="status"> Error</div>

  </form>
</div>