<div class="container chart">
    <form [formGroup]="updateTeamForm" (ngSubmit)="onSubmit(updateTeamForm.value)">
      <h1>Update Teams</h1>

      <mat-form-field>
        <mat-select [(value)]="selSeason" (selectionChange)="selectedSeason(selSeason.id)" placeholder="Season Select">
          <mat-option *ngFor="let season of seasons" [value]="season">{{season.season}} {{season.year}} </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div>
      <select multiple="multiple" size="15" class="form-control"  formControlName="teams">
        <option *ngFor="let team of teams" [value]="team">{{team.name}}</option>
      </select>
    </div>
  
    <button type="submit" class="btn btn-success">Submit</button>

    <div [hidden]="successHidden" class="status">Added Teams</div> 
    <div [hidden]="failHidden" class="status">Error</div>

    </form>
  </div>