<ul class="dropdown">
  <li>
    <mat-form-field>

      <mat-select [(value)]="selected" (selectionChange)="callBack(selected.id)" placeholder="Season Select">
        <mat-option *ngFor="let option of dropDown" [value]="option">{{option.value}} </mat-option>
      </mat-select>
    </mat-form-field>
  </li>
</ul>

  
<div class="admin" [hidden]=newPlayerHidden>
    <app-player-form></app-player-form>
</div>

<div class="admin" [hidden]=newGameHidden>
    <app-game-form></app-game-form>
</div>

<div class="admin" [hidden]=newTeamHidden>
    <app-team-form></app-team-form>
</div>

<div class="admin" [hidden]=newBattingStatsHidden>
  <p>newBattingStatsHidden</p>
    
</div>

<div class="admin" [hidden]=newSeasonHidden>
  <p>newSeasonHidden</p>
    
</div>

<div class="admin" [hidden]=newPitchingStatsHidden>
  <p>newPitchingStatsHidden</p>
    
</div>

<div class="admin" [hidden]=updatePlayersHidden>
  <p>updatePlayersHidden</p>
    
</div>

<div class="admin" [hidden]=updateTeamHidden>
    updateTeamHidden
</div>