<ul class="dropdown">
  <li>
    <mat-form-field>

      <mat-select [(value)]="selected" (selectionChange)="callBack(selected.id)" placeholder="Admin Pages">
        <mat-option *ngFor="let option of dropDown" [value]="option">{{option.value}} </mat-option>
      </mat-select>
    </mat-form-field>
  </li>
</ul>

  
<div class="admin" [hidden]=newPlayerHidden>
    <app-player-form></app-player-form>
</div>

<div class="admin" [hidden]=newGameHidden>
    <app-game-form></app-game-form>
</div>

<div class="admin" [hidden]=newTeamHidden>
    <app-team-form></app-team-form>
</div>

<div class="admin" [hidden]=newBattingStatsHidden>
    <app-batting-stats-form></app-batting-stats-form>
</div>

<div class="admin" [hidden]=newSeasonHidden>
  <app-season-form></app-season-form>
    
</div>

<div class="admin" [hidden]=newPitchingStatsHidden>
  <app-pitching-stats-form></app-pitching-stats-form>
    
</div>

<div class="admin" [hidden]=updatePlayersHidden>
  <app-update-player-form></app-update-player-form>
    
</div>

<div class="admin" [hidden]=updateTeamHidden>
    <app-update-team-form></app-update-team-form>
</div>