<div class="container chart">
  <h1>Creating New Batting Stat</h1>
  <form [formGroup]="battingStatForm" (ngSubmit)="onSubmit(battingStatForm.value)">


    <div class="form-group">
      <mat-form-field>
        <mat-select [(value)]="selSeason" (selectionChange)="selectedSeason(selSeason.id)" placeholder="Season Select">
          <mat-option *ngFor="let season of seasons" [value]="season">{{season.season}} {{season.year}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field>
      <label>Player</label>
      <mat-select class="form-control" [(value)]="selPlayer" formControlName="player" (selectionChange)="playerSelect(selPlayer.id)"
        required>
        <mat-option *ngFor="let player of players" [value]="player">{{player.displayName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field>
      <label>Game</label>
      <mat-select class="form-control" [(value)]="selGame" formControlName="game" (selectionChange)="gameSelect(selGame.game_id)"
        required>
        <mat-option *ngFor="let game of games" [value]="game">{{game.gameString}} </mat-option>
      </mat-select>
      </mat-form-field>
    </div>

    <div>
      <label>At Bats</label>
      <input type="text" class="form-control" formControlName="atBats" required>
    </div>

    <div class="form-group">
      <label>Singles</label>
      <input type="text" class="form-control" formControlName="singles" required>
    </div>

    <div class="form-group">
      <label>Doubles</label>
      <input type="text" class="form-control" formControlName="doubles" required>
    </div>

    <div class="form-group">
      <label>Triples</label>
      <input type="text" class="form-control" formControlName="triples" required>
    </div>

    <div class="form-group">
      <label>Home Runs</label>
      <input type="text" class="form-control" formControlName="homeRuns" required>
    </div>

    <div class="form-group">
      <label>Walks</label>
      <input type="text" class="form-control" formControlName="walks" required>
    </div>

    <div class="form-group">
      <label>Hit By Pitch</label>
      <input type="text" class="form-control" formControlName="hitByPitch" required>
    </div>

    <div class="form-group">
      <label>Runs</label>
      <input type="text" class="form-control" formControlName="runs" required>
    </div>

    <div class="form-group">
      <label>RBIs</label>
      <input type="text" class="form-control" formControlName="rbis" required>
    </div>

    <div class="form-group">
      <label>Strikeouts</label>
      <input type="text" class="form-control" formControlName="strikeouts" required>
    </div>

    <div class="form-group">
      <label>Sacrifices</label>
      <input type="text" class="form-control" formControlName="sacrifices" required>
    </div>

    <div class="form-group">
      <label>Stolen Bases</label>
      <input type="text" class="form-control" formControlName="stolenBases" required>
    </div>

    <div class="form-group">
      <label>Caught Stealing</label>
      <input type="text" class="form-control" formControlName="caughtStealing" required>
    </div>

    <div class="form-group">
      <label>Passed Balls</label>
      <input type="text" class="form-control" formControlName="passedBalls" required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

    <div [hidden]="successHidden" class="status"> Created Stat</div> 
    <div [hidden]="failHidden" class="status"> Error</div>

  </form>
</div>