
ul{
  position: absolute;
    top: 50%;
    width: 80%;

    
  li{
    width: 40%;
    
  }
    
  }
  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .dropdown{
    top: 25%;
    left: 33%;
  }
  
  .dropdownGame{
    top: 30%;
    left:60%;
  }

  .stats{
    top: 35%;
    width:30%;
  }
  
  .statsPitching{
    top: 35%;
    width:30%;
    left: 50%;
  }

  .selected{
    left:45%;
    top:34%;
  }
  
  
  .low{
    top:100%;
  }

  .recordSelect{
    position: absolute;
    top: 25%;
  }

  .batOrPitch{
    position: absolute;
    top:  30%;
  }

  .tables{
    top: 40%;
  }

  .twoTables{
    display: flex;
    top: 40%;
  }

  .right{
    left : 60%;
  }

  .selector{
    display: block;
  }