<h1>Home</h1>



<ul  class="twoTables">
  <li class="seasonRecords" >

    <table mat-table class="mat-elevation-z8 seasonLine" [dataSource]="seasonsRecord">


      <ng-container matColumnDef="season">
        <th mat-header-cell *matHeaderCellDef> Season </th> 
        <!-- edited for links -->
        <td mat-cell *matCellDef="let element"><a class="table-link" href="/season?seasonId={{element.id}}"> {{element.season}} {{element.year}}</a> </td>
        <td mat-footer-cell *matFooterCellDef> All Time </td>
      </ng-container>

      <ng-container matColumnDef="record">
        <th mat-header-cell *matHeaderCellDef> Record </th>
        <td mat-cell *matCellDef="let element"> {{element.wins}}-{{element.losses}}-{{element.ties}}  </td>
        <td mat-footer-cell *matFooterCellDef> {{allTime?.wins}}-{{allTime?.losses}}-{{allTime?.ties}}  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="seasonCol"></tr>
      <tr mat-row *matRowDef="let row; columns: seasonCol;"></tr>
      <tr mat-footer-row *matFooterRowDef="seasonCol"></tr>
    </table>
  </li>
  <li class="last3">

    <table mat-table [dataSource]="lastThree" class="mat-elevation-z8 last3Table">

      <ng-container matColumnDef="opponent">
        <th mat-header-cell *matHeaderCellDef> Game </th>
        <td mat-cell *matCellDef="let element"> {{element.opponentTeamInfo}} </td>
      </ng-container>


      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let element"> {{element.teamScore}}-{{element.opponentScore}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="last3Columns"></tr>
      <tr mat-row *matRowDef="let row; columns: last3Columns;"></tr>

    </table>
  </li>

</ul>
